input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.sexyLine {
  position: relative;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #F0F8FF, black, #F0F8FF);
  border: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#convoBody {
  position: absolute;
  width: 25%;
  height: 93%;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-size: contain;*/
  background-color: #F0F8FF;
  top: 7%;
  right: 0px;
  z-index: 1;
}
#extensionsCon{
  z-index: 1;
}

#visibilityBtn {
  position: absolute;
  top: 60px;
  right: 10px;
  margin: 10px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 2;
  border: 1px solid grey;
}

#visibilityBtn:focus {
  outline: none;
}

#reloadBtn {
  border: 1px solid grey;
  background-color: #f1d6ff;
  border-radius: 10px;
  border: 1px solid #e0a3ff;
  padding: 1px;
  cursor: pointer;
  margin: 10px;
  padding: 1px;
  width: 60px;
}